{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Recipe Wizard | Home</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <link href="{% static 'main/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'main/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'main/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'main/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'main/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Yummy
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Recipe Wizard</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/login">Log In & Register</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section light-background">

      <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
          <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">Achieve Your Health Goals:<br> AI-Powered Meal Plans</h1>
            <p data-aos="fade-up" data-aos-delay="100">Sign up today to unlock personalized, AI-powered meal plans that simplify your path to achieving your health and fitness goals!</p>
            <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
              <a href="/login" class="btn-get-started">Log In & Registration</a>
              <a href="https://vimeo.com/676247342" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
            </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="{% static 'main/assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p><span>Learn More</span> <span class="description-title">About Us</span></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'main/assets/img/about.jpg' %}" class="img-fluid mb-4" alt="">
            <a href="#contact">
                <div class="book-a-table">
                    <h3>Contact Us</h3>
                    <p>+1 519 331</p>
                </div>
            </a>
          </div>
          <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                At Recipe Wizard, we believe that nutrition should be easy, personalized, and effective. Our AI helps you plan meals that suit your lifestyle and goals.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Personalized meal plans tailored to your goals and preferences.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Simple recipes with detailed nutritional breakdowns.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>AI-driven insights to save time and reduce food waste.</span></li>
              </ul>
              <p>
                Whether you're looking to lose weight, gain muscle, or just eat healthier, Recipe Wizard is your trusted companion. Join us and make your nutrition goals a reality!
              </p>

              <div class="position-relative mt-4">
                <img src="{% static 'main/assets/img/about-2.jpg' %}" class="img-fluid" alt="">
                <a href="https://vimeo.com/676247342" class="glightbox pulsating-play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="why-us" class="why-us section light-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="why-box">
              <h3>Choose Recipe Wizard</h3>
              <p>
                Recipe Wizard helps you achieve your nutrition goals with ease and precision. Our AI-driven platform crafts personalized meal plans that suit your lifestyle, preferences, and dietary goals. Start your journey to better health today.
              </p>
                <li>Smart meal plans tailored to your needs.</li>
                <li>Save time and reduce food waste.</li>
                <li>Achieve your goals with ease and confidence.</li>
              <div class="text-center">
                <a href="/login" class="more-btn mt-3"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
              </div>
            </div>
          </div><!-- End Why Box -->

          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

              <div class="col-xl-4">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-clipboard-data"></i>
                  <h4>Personalized Nutrition</h4>
                  <p>Our AI customizes meal plans based on your dietary preferences, calorie goals, and lifestyle, ensuring every meal is just right for you.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-gem"></i>
                  <h4>Save Time, Eat Smart</h4>
                  <p>Spend less time planning and more time enjoying delicious meals that align with your goals. Let Recipe Wizard handle the hard work.</p>
                </div>
              </div><!-- End Icon Box -->

              <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                  <i class="bi bi-inboxes"></i>
                  <h4>Achieve Your Goals</h4>
                  <p>From weight loss to muscle gain, or just eating better, Recipe Wizard empowers you to make informed decisions about your nutrition.</p>
                </div>
              </div><!-- End Icon Box -->

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section dark-background">

        <img src="{% static 'main/assets/img/stats-bg.jpg' %}" alt="">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="50000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Recipes</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Ingredients</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="250000" data-purecounter-duration="1" class="purecounter"></span>
              <p>Recipes Generated</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
              <p>Dietary Preferences Supported</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p><span>Need Help?</span> <span class="description-title">Contact Us</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-5">
          <iframe style="width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.7627029097075!2d-80.52580392373837!3d43.465551064547284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf5c4198b511b%3A0xd5e9b3c3366e368a!2sDen%201880!5e0!3m2!1sen!2sca!4v1724449773800!5m2!1sen!2sca" frameborder="0" allowfullscreen=""></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
              <i class="icon bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>14 Erb St. W, Waterloo, ON N2L 1S7</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="300">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+1 519 331 1324</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="400">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>contact@recipewizard.ca</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center" data-aos="fade-up" data-aos-delay="500">
              <i class="icon bi bi-clock flex-shrink-0"></i>
              <div>
                <h3>Contact Hours<br></h3>
                <p><strong>Mon-Sat:</strong> 11AM - 2:30PM; <strong>Sunday:</strong> Closed</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form id="contact-form" action="https://formspree.io/f/xqaawkor" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="600">
            <div class="row gy-4">
              <div class="col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
              </div>
              <div class="col-md-6">
                <input type="email" class="form-control" name="email" placeholder="Your Email" required>
              </div>
              <div class="col-md-12">
                <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div>
              <div class="col-md-12">
                <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit">Send Message</button>
              </div>
            </div>
        </form>          
          <div id="success-message" style="display: none; color: green;">Your message has been sent successfully!</div>
          <div id="error-message" style="display: none; color: red;">There was an error sending your message. Please try again.</div>
          <!-- End Contact Form -->          

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Recipe Wizard</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        Designed by <a href="https://robertpevec.com/">Robert Pevec</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <script src="{% static 'main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'main/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'main/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'main/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'main/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'main/assets/js/main.js' %}"></script>
  <script>
    document.getElementById('contact-form').addEventListener('submit', async function (e) {
      e.preventDefault(); // Prevent the default form submission redirect
  
      const form = e.target;
      const formData = new FormData(form);
  
      try {
        const response = await fetch(form.action, {
          method: form.method,
          body: formData,
          headers: { Accept: 'application/json' },
        });
  
        if (response.ok) {
          // Display success message
          showFormMessage('Your message has been sent successfully!', 'success');
          form.reset(); // Reset the form fields
        } else {
          // Display error message
          showFormMessage('There was an error sending your message. Please try again.', 'error');
        }
      } catch (error) {
        // Handle unexpected errors
        showFormMessage('Something went wrong. Please try again.', 'error');
      }
    });
  
    function showFormMessage(message, type) {
      let messageContainer = document.getElementById('form-message');
  
      // Create a message container if it doesn't exist
      if (!messageContainer) {
        messageContainer = document.createElement('div');
        messageContainer.id = 'form-message';
        messageContainer.style.marginTop = '10px'; // Add some spacing
        messageContainer.style.fontWeight = 'bold'; // Highlight the message
        document.getElementById('contact-form').appendChild(messageContainer);
      }
  
      // Apply styles based on the message type
      messageContainer.style.color = type === 'success' ? 'green' : 'red';
      messageContainer.textContent = message;
    }
  </script>  
</body>

</html>